---
import Layout from "../layouts/Layout.astro";
import Header from "../layouts/Header.astro";
import taurillonAvif from "../assets/images/taurillon.avif";
import taurillonWebP from "../assets/images/taurillon.webp";
import taurillonJpg from "../assets/images/taurillon.jpg";
import paysage3Avif from "../assets/images/paysage3.avif";
import paysage3WebP from "../assets/images/paysage3.webp";
import paysage3Jpg from "../assets/images/paysage3.jpg";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import AboutSection from "../components/AboutSection.astro";
import CommissionCTA from "../components/CommissionCTA.astro";
import LatestWorks from "../components/LatestWorks.astro";
---

<Layout title="Accueil | Piotr Wojcik">
  <Header />
  <main>
      <Hero />
      <AboutSection />
      <LatestWorks />
      <CommissionCTA />
  </main>
  <Footer />
  <!-- <div class="wrapper">
    <main class="home-main-content">
      <div class="hero">
        <div class="hero__text">
          <h1>Piotr Wojcik</h1>
          <p>Peintures - Gravures - Dessins</p>
        </div>
        <div class="hero__image">
          <picture>
            <source
              srcset="assets/medias/large/exhibition-london.avif"
              type="image/avif"
            />
            <source
              srcset="assets/medias/large/exhibition-london.webp"
              type="image/webp"
            />
            <source
              srcset="assets/medias/large/exhibition-london.jpg"
              type="image/jpeg"
            />
            <img
              src="assets/medias/large/exhibition-london.jpg"
              width="580"
              height="435 "
              alt="Piotr Wojcik dans une salle d'exposition"
            />
          </picture>
        </div>
      </div>

      <section class="about">
        <div class="about-container-1">
          <picture>
            <source srcset={taurillonAvif.src} type="image/avif" />
            <source srcset={taurillonWebP.src} type="image/webp" />
            <source srcset={taurillonJpg.src} type="image/jpeg" />
            <img
              class="about__picture-1"
              src={taurillonJpg.src}
              alt="taurillon"
            />
          </picture>

          <p class="about__text-1">
            Piotr Wojcik a choisi de poser son regard de peintre sur le petit et
            le gros bétail de nos campagnes françaises, traitant l’animal tant
            pour sa beauté plastique que pour la charge émotionnelle dont il est
            porteur. Suidés, bovidés, ovinés et autres gallinacés sont ainsi
            poursuivis par l’artiste qui se livre hebdomadairement à une
            véritable «&nbsp;chasse aux modèles&nbsp;», débusquant ses sujets
            dans les fermes et les pâturages de la régions.
          </p>
        </div>
        <div class="about-container-2">
          <picture>
            <source srcset={paysage3Avif.src} type="image/avif" />
            <source srcset={paysage3WebP.src} type="image/webp" />
            <source srcset={paysage3Jpg.src} type="image/jpeg" />
            <img
              class="about__picture-2"
              src={paysage3Jpg.src}
              alt="paysage industriel"
            />
          </picture>
          <p class="about__text-2">
            Si l’on identifie avec certitude l’espèce de chaque animal, le
            traitement pictural dont il fait l’objet lui confère une filiation
            toute polonaise. Originaire de Silésie, Piotr Wojcik en a connu la
            rude atmosphère minière, privant la ville et la campagne de toute
            couleur. Cette grisaille silésienne plane dans ses peintures,
            transcrite par une gamme chromatique très réduite. La virtuosité de
            la technique, à base d’eau, d’huile et de colle, joue sur des
            phénomènes d’apparitions. Surgit de l’ombre, l’animal sort de
            l’obscurité, mémoire du peintre, pour apparaître dans la clarté d’un
            présent lui donnant un certain air de famille…
          </p>
        </div>
      </section>
    </main>
  </div> -->
</Layout>

<style>
  .wrapper {
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    position: relative;
  }

  .home-main-content h1 {
    font-size: 4rem;
    margin-bottom: 0;
  }
  .home-main-content p {
    margin-top: 0;
    font-size: 2rem;
  }
  .home-main-content {
    padding: 0 50px;
  }

  .hero {
    position: relative;
  }

  .hero__text {
    position: absolute;
    top: -100px;
    left: 15px;
    margin-top: 42px;
  }

  .hero h1 {
    margin-top: 0;
  }

  .hero__image {
    margin-top: 70px;
    margin-bottom: 45px;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  .hero__image img {
    width: 580px;
    box-shadow: 6px 7px 9px -7px rgba(59, 59, 59, 0.75);
  }

  /* About section */
  .about p {
    font-size: 1.3rem;
  }

  .about-container-1 {
    /* Makes a "block formatting context" to force the parent element to contain Its child elements. */
    overflow: hidden;
  }
  .about-container-2 {
    margin-top: 20px;
    overflow: hidden;
  }

  .about__picture-1,
  .about__picture-2 {
    height: 300px;
  }

  .about__picture-1 {
    float: left;
    margin-right: 15px;
  }
  .about__picture-2 {
    float: right;
    margin-left: 15px;
  }

  /* Responsive mode */

  @media all and (max-width: 800px) {
    /* About section */
    .about-container-1,
    .about-container-2 {
      display: flex;
      flex-direction: column;
    }
    .about__picture-1,
    .about__picture-2 {
      object-fit: cover;
      margin-bottom: 10px;
    }

    /* Main section */
    .home-main-content {
      padding: 0 12px;
    }
  }
</style>
