---
// const { frontmatter: content, mySrc } = Astro.props
const { srcJpegMedium, srcAvifMedium, type, alt, dimensions, price, index } =
  Astro.props;
---

<div class="gallery__item">
  <div class="image-container">
    <picture class={type}>
      <source srcset={srcAvifMedium} type="image/avif" />
      <source srcset={srcJpegMedium} type="image/webp" />
      <source srcset={srcJpegMedium} type="image/jpeg" />
      <img src={srcJpegMedium} alt={alt} loading={index > 12 ? "lazy" : "eager"} />
    </picture>
    <!-- <img class={type}
            src={srcJpegMedium}
            alt={alt}
        /> -->
  </div>
  <div class="image-description">
    <p class="dimensions">{dimensions}</p>
    <p class="price">{price && price + " €"}</p>
  </div>
</div>
<style>
  .image-container img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 5px;
    background-color: #3d3932;
  }
  .image-container img:hover {
    opacity: 0.8;
  }

  .image-description {
    display: flex;
    justify-content: space-between;
  }
  .image-description p {
    margin-top: 4px;
  }
</style>
