---
import GalleryItem from "./GalleryItem.astro";
const { images } = Astro.props;
// Reverse the order of the images (from latests to oldest)
const reversedImages = [...images].reverse();
---

<div class="gallery">
  {
    reversedImages.map((elt: any, index: number) => (
      <GalleryItem
        srcJpegMedium={elt.frontmatter["img-jpeg-medium"]}
        srcAvifMedium={elt.frontmatter["img-avif-medium"]}
        srcWebpMedium={elt.frontmatter["img-webp-medium"]}
        type={elt.frontmatter.type}
        alt={elt.frontmatter.alt}
        dimensions={elt.frontmatter.dimensions}
        price={elt.frontmatter.price}
        index={index}
      />
    ))
  }
</div>
<style>
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
    margin-bottom: 70px;
  }
</style>
