---
import GalleryItem from './GalleryItem.astro'
const { images } = Astro.props
---
<div class="gallery">
    {images.map((elt: any) => (
        <GalleryItem src={elt.frontmatter.img} type={elt.frontmatter.type} alt={elt.frontmatter.alt} dimensions={elt.frontmatter.dimensions} price={elt.frontmatter.price} />
    ))}
	<div class="gallery__item">
		<div class="image-container">
			<img class="image-container__content black-white"
				src="/assets/medias/medium/chat.jpg"
				alt="test"
			/>
		</div>
		<div class="image-description">
			<p class="dimensions">???x???</p>
			<p class="price">42 €</p>
		</div>
	</div>
</div>
<style>
    .gallery {
		display: grid;
		grid-template-columns: repeat(auto-fill, 350px);
		justify-content: center;
		gap: 40px;
		margin-top: 20px;
		margin-bottom: 70px;
	}
</style>